.card {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 10px;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
}

h2 {
  text-align: center;
}
.card-image {
  width: 300px;
  height: 300px;
  border-radius: 4px;
  padding-top: 20px;
  margin-left: 50px;
}
.card-body {
  padding: 10px;
  text-align: center;
}
.check {
  font-size: 1rem;
  display: flex;
  gap: 0.5em;
  margin-left: 50px;
}
h3 {
  text-align: left;
  margin-left: 50px;
  padding-bottom: 10px;
}
.section {
  margin-left: 30px;
}
